<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#provider-list {
	width: 10rem;
	margin: 5em auto 0;
}
</style>
</head>
<body>
<div id="provider-list">
{% for provider in providers %}
	<div id="{{ provider.id }}">
		<a href="{{ provider.url }}"><img src="{{ provider.image }}"</a>
	</div>
{% endfor %}
</div>
</body>
</html>